<br><br>
<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <a href="#!/surveys" class='btn btn-info pull-right'>Go to Polls</a><br><br>
    <h3>{{survey.question}}</h3><br>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Option</th>
        <th>Current Count of Votes</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h5>{{survey.one}}</h5></td>
        <td>{{survey.likeone}}</td>
        <td>
          <button class="btn btn-warning" ng-click="updateOne()"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><h5>{{survey.one}}</h5></td>
        <td>{{survey.liketwo}}</td>
        <td>
          <button class="btn btn-warning" ng-click="updateTwo()"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><h5>{{survey.three}}</h5></td>
        <td>{{survey.likethree}}</td>
        <td>
          <button class="btn btn-warning" ng-click="updateThree()"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><h5>{{survey.four}}</h5></td>
        <td>{{survey.likefour}}</td>
        <td>
          <button class="btn btn-warning" ng-click="updateFour()"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
