<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <a href="#!/surveys" class='btn btn-default pull-right'>Go to Polls</a>
  </div>
</div>

<h3>{{survey.question}}</h3>
<table class="table table-striped">
<thead>
  <tr>
    <th>Option</th>
    <th>Current Count of Votes</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>{{survey.one}}</td>
    <td>{{survey.likeone}}</td>
    <td>
      <button ng-click="updateOne()"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
    </td>
  </tr>
  <tr>
    <td>{{survey.one}}</td>
    <td>{{survey.liketwo}}</td>
    <td>
      <button ng-click="updateTwo()"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
    </td>
  </tr>
  <tr>
    <td>{{survey.three}}</td>
    <td>{{survey.likethree}}</td>
    <td>
      <button ng-click="updateThree()"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
    </td>
  </tr>
  <tr>
    <td>{{survey.four}}</td>
    <td>{{survey.likefour}}</td>
    <td>
      <button ng-click="updateFour()"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
    </td>
  </tr>
</tbody>
</table>
